/node_modules/
/Library
.claude
debug.js
.idea/
CLAUDE.md
INSTRUNCTIONS.md
/idea
**/.DS_Store
.spotify-auth.json
.spotify-device-id.json
.spotify-librespot-creds.json
DB/*.db
vendor/node-librespot/node_modules/
handpicked.txt
forge.config.js
out/
dist/
